<%- include('header'); -%>

    <div class='content'>
        <h1> Name - Jason </h1>

        <h2> Address - Some random house in the woods </h2>

        <h3> Phone: 100000000000 <h3>
            
        <h4> NotSusAtAll@serialkillersMail.com </h4><br>
    </div>

<%- include('footer'); -%>