<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>
    <title>Webstore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/hwu.css" title="HWU">
    <link rel="shortcut icon" href="/hwu.png">
    <meta http-equiv="pragma" content="no-cache" />
</head>

<body>
    <div class="banner">
        <div class="logo">
            <a href='http://www.hw.ac.uk' target="top">
                <img src="/hwu.png" width="64" height="64" alt="Logo HWU" />
            </a>
        </div>

        <div class="title">
            <H1>WEBSTORE</H1>
        </div>
    </div>

    <div class="menu">
        <table class='tmenu'>
            <thead>
                <th id='th'> </th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="/" style="padding-right: 10px; padding-left: 5px; padding-top: 5px; background-color: aquamarine;">Home</a></td>
                    <td>
                        <a href="/api/catalog" style="padding-right: 10px; padding-left: 10px; padding-top: 5px; background-color:cornsilk;">Catalog</a></td>
                    <td>
                        <a href="/register" style="padding-right: 10px; padding-left: 10px; padding-top: 5px; background-color: aquamarine;">Register</a></td>
                    <td>
                        <a href="/contacts" style="padding-right: 10px; padding-left: 10px;  padding-top: 5px;  background-color: cornsilk;">Contacts</a></td>

                    <td>
                        <a href="/api/clientsList" style="padding-right: 10px; padding-left: 10px;  padding-top: 5px; background-color: aquamarine;">Clients</a>
                    </td>
                    <td>
                        <a href="/login" style="padding-left: 10px;  padding-top: 5px; padding-right: 8px;background-color: cornsilk;">Sign-in</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>