<%- include('header'); -%>

    <div class='content'>
        <p style="font-size: medium; font-family: Verdana, Geneva, Tahoma, sans-serif;"> Incorrect Username or Password. Try again or Register</p><br>
        <button style="padding: 10px;"><a href="/register">Register</a></button>
        <button style="padding: 10px;"><a href="/login">Log-in</a></button><br>
    </div><br>

<%- include('footer'); -%>