<%- include('header'); -%>

    <div class='content'>
        <p style="font-size: xx-large; font-family: Verdana, Geneva, Tahoma, sans-serif;"> ERROR 404 FORBIDDEN</p><br>
        <p style="font-size: medium; font-family: Verdana, Geneva, Tahoma, sans-serif;"> YOU ARE NOT AN ADMIN</p><br>
        <button style="padding: 10px;"><a href="/register">Register</a></button>
        <button style="padding: 10px;"><a href="/login">Log-in</a></button><br>
    </div><br>

<%- include('footer'); -%>